@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.custom-dots {
	@apply gap-3 justify-center !flex;
}

.custom-dots li {
	@apply flex;
}

.custom-dots button {
	@apply bg-zinc-400 w-3 h-3 text-[0px] rounded-full transition focus-visible:outline-none focus-visible:ring-0;
}

.custom-dots button:hover {
	@apply bg-primary;
}

.custom-dots .slick-active button {
	@apply bg-secondary;
}

.banners-dots .slick-active button {
	@apply bg-primary;
}

.banners-dots {
	@apply absolute bottom-5 w-full;
}

.banners-dots button {
	@apply bg-zinc-100;
}

.slick-slide > div {
	display: flex;
}

p + p {
	@apply mt-5;
}

